<%-include("partials/header");-%>

<style media="screen">
  body {
    background-image: url("images/dom.jpg");
    < !-- background-size: cover;

    background-repeat: no-repeat;
    -->
    /* Full height */
    height: 100% 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  html {
    height:100%
  }
</style>
<div class="container">


<div class="row">
<div class=" w-50 h-50 mt-5 p-5 offset-md-8  ">


<h1 class="text-center font-weight-bold" > Sign Up</h1>

<form class="card p-3 bg-light" action="/login" method="post">
  <div class="form-group">
    <label for="email"> email</label>
    <input class="form-control"  id="email "type="email" name="username" value="">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="">password</label>
    <input class="form-control" type="password" name="password" value="">
  </div>

  <button  class="btn btn-primary" type="submit" name="button">submit</button>
</form>

<a  type="button"  class="btn btn-secondary " href="/register"> createaccount </a>

 </div>
 </div>

<%-include("partials/footer");-%>
